__pycache__
.venv
.ipynb_checkpoints
.streamlit
.env

# personal files and folders
archives/
data/
inputs/
notebooks/
settings.ini

# files not ready to diffuse
syncArchives.py
.github/dependabot.yml
.devcontainer/devcontainer.json
