
archive
__pycache__
.venv
.ipynb_checkpoints
.streamlit
.env

# personal directories
outputs/
inputs/
archives/
notebooks/
data/

# files not ready to diffuse
syncArchives.py

# Dev Container
.devcontainer/devcontainer.json
