alive_progress==2.4.1
dash==2.7.0
dash_core_components==2.0.0
dash_html_components==2.0.0
dash-table==5.0.0
matplotlib==3.6.2
pandas==1.5.1
pandas_datareader==0.10.0
plotly==5.11.0
PyYAML==6.0
requests==2.28.1
steamlit==0.63
